{% extends 'layout.html.twig' %}

{% block title %}3, 2, 1... Fight !{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>Egg</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>{{ character.name }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="http://via.placeholder.com/30x30">
            <span class="egg-name">Egg's Name</span>
        </div>

        <div class="col-xl3">
            <div class="character_stats">
                <p>Nom</p>
                <p>HP</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col right">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>Egg</p>
                </div>
            </div>
        </div>

        <div class="col right">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>Character</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col right">
            <img src="http://via.placeholder.com/30x30">
            <span class="egg-name">Egg's Name</span>
        </div>

        <div class="col right">
            <div class="character_stats">
                <p>Nom</p>
                <p>HP</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}